.profile-card {
  margin-top:0px;
  padding:5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #007ABF;
  width:80%;
  border-radius: 20px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
}

.wrapper {
  text-align: center;
}

 #Layer_1 {
   display: inline-block;
   vertical-align: top;
   width:175px;
   margin: 20px 20px 0px;
  }

.bio {
  display: inline-block;
  text-align: left;
  width: 60%;
  padding-right: 20px;
}

h1 {
  vertical-align: top;
  font-size: 3em;
  padding-top: 0px;
  margin-top:20px;
  margin-bottom: 10px;
  color:white;
  letter-spacing: 0.04em;
}

p {
  display: inline-block;
  font-size: 1.3em;
  color: white;
  margin-top: 0px;
  text-indent: 20px;
  line-height: 1.1;
  
}


