.profile-card {
  margin-left: auto;
  margin-right: auto;
  background-color: #007ABF;
  width:80%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, .4);
}

 .avatar01 {
   width:175px;
   margin: 20px;
  }
